# main port. everything ends up here and this is what you connect to
http://localhost:8080, http://192.168.1.31:8080, http://192.168.1.32:8080 {
	# backend
	reverse_proxy /api/* :5000

	# frontend
	reverse_proxy /* :8090
}
