# main port. everything ends up here and this is what you connect to
* {
	# enable https with a self signed cert
	tls internal

	# bind to all addresses
	bind 0.0.0.0

	# backend
	reverse_proxy /api/* basestation:5000

	# frontend
	reverse_proxy /* basestation:8090
}
